<!DOCTYPE html>
<html>
<head>
  <title>MapDraft</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>
<%= link_to 'Map', root_path %>
</h2>
<%= link_to 'New Place', new_place_path %>

<!--header line -->

<hr/>

<%= yield %>

</body>
</html>
